.address__customer,
.customer__profile,
.address {
  margin-top: var(--md-size);
}

.active {
  flex-direction: column;
}

.input__border {
  background: white;
  border: var(--border-input);
  border-radius: 5px;
  padding: var(--padding-sm);
}

.first_name,
.last_name {
  border-bottom-right-radius: 0;
  border-right: none;
  border-top-right-radius: 0;
}

.address__input,
.profile__input {
  border: none;
  width: 100%;
  font-size: var(--font-size-sm);
  background: none;
}

.profile__edit {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: grid;
  place-items: center;
}

.address__input:focus,
.profile__input:focus {
  outline: none;
}

.add__address--top,
.profile__save {
  margin-top: var(--margin-default);
}
