.address__customer,
.customer__profile,
.address {
  margin-top: var(--md-size);
}

.active {
  flex-direction: column;
}

.input__border {
  background: white;
  border: var(--border-input);
  border-radius: 5px;
  margin-bottom: var(--margin-default);
  padding: var(--padding-sm);
}


.customer__last label {
  margin-top: var(--margin-default);
}

.profile__save:disabled {
  background-color: #9796AA;
  cursor: not-allowed;
}

.profile__edit {
  align-items: center;
  display: flex;
}

.profile__edit span {
  margin-left: var(--margin-sm);
}


.address__input,
.profile__input {
  background: none;
  border: none;
  font-size: var(--font-size-sm);
  width: 100%;
}

.address__input:focus,
.profile__input:focus {
  outline: none;
}

.add__address--top {
  margin-top: var(--margin-default);
}
