{% extends 'core/base.html' %}

{% block content %}
    <div class="container browsing__container">
        <h2 class="stores__title">
          Stores
        </h2>
        <div class="stores">
            <section id="minimal-statistics">
              <div class="row">
                {% for store in stores %}
                  <div class="col-lg-3 col-sm-6 col-12 mb-4">
                    <div class="card">
                      <div class="card-content">
                        <div class="card-body">
                          <div class="media d-flex">
                            <div class="media-body text-left">
                              <h3 class="danger">{{ store.store_name }}</h3>
                              <span>{{ store.customer.get_fullname }}</span>
                              <br>

                              <a href="{{ store.get_absolute_url }}" class="btn btn-primary mt-3">Shop</a>
                            </div>
                            <div class="align-self-center">
                              <i class="fas fa-store store__icon"></i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </section>
        </div>

        <div class="products">
          <h2 class="products__title">
            Products
          </h2>
            {% include 'core/product_card.html' %}
        </div>
    </div>
{% endblock %}
