{% extends 'core/base.html' %}

{% block content %}
    <h1>Index Page</h1>
    <!-- use ajax here -->
    <div class="container">
        <div class="search">
            <form action="POST">
                <input id="search-food" type="text" name="search">
                <input class="btn btn-primary" type="submit">
            </form>
        </div>
        <div class="browse">
            <a href="{% url 'browsing-page' %}">Browse</a>
            <a href="{% url 'cart-page' request.user.user_name %}">Cart</a>
            <a href="{% url 'profile-page' request.user.user_name %}">Profile</a>
        </div>
    </div>
{% endblock %}
