{% extends 'core/base.html' %}


{% block content %}
<p class="product__success">Added to cart</p>
<div class="container product__container">
    <div class="sproduct row">
      <div class="left col-xl-6 col-lg-6 col-sm-12">
        <div class="sproduct__img">
          <img src="{{ obj.product.thumbnail.url  }}" alt="">
        </div>
      </div>
      <div class="right ccolxl-6 col-lg-6 col-sm-12">
        <div class="sproduct__details">

          <h1 class="sproduct__title">
            {{ obj.product.name  }}
          </h1>

         <div class="sproduct__tally">
            <h1 class="sproduct__price">
              ₱{{ obj.product.price }}
            </h1>
         </div>

          <p class="sproduct__description">
            {{ obj.product.description }}
          </p>

          <div class="sproduct__category">
            <p class="category__text">Category:
              {% for category in obj.category.all %}

              <span class="category__title">{{ category.name }}</span>
              {% endfor %}
            </p>
            <p id="sproduct__sname">Sold By: <span class="product__seller">{{ obj.product.store.store_name }}</span></p>
          </div>

          <div class="sproduct__cart">
              <div class="d-flex">
                <div class="cart__increase"><i class="fas fa-arrow-up"></i></div>
                <input id="quantity" type="number" name="quantity" value="1" class="sproduct__quantity">
                <div class="cart__decrease"><i class="fas fa-arrow-down"></i></div>
              </div>
              <input id="sproduct__sold" type="hidden" name="" value="{{ obj.product.store.slug  }}">
              <button id="add-to-cart" class="btn-primary cart__btn"><i class="fas fa-cart-plus"></i>Add to Cart</button>
          </div>
        </div>

      </div>
    </div>
</div>

{% endblock %}
