:root {
  --overlay-color: rgba(22, 29, 32, 0.6);
  --neutral-color: #fff;
  --neutral-color-darker: #d8e3e7;

  --background-color: #F1F2F7;

  --padding-sm: 0.5rem 2rem;

  --font-size-sm: 1.2rem;
  --font-size: 1.6rem;

  --primary-color: #e31c1b;
  --secondary-color: #bd4020;

  --tertiary-color: #16d39a;

  --margin-sm: 0.3rem;

  --letter-spacing-sm: 0.2rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: "Montserrat", sans-serif;
  height: 100vh;
}

.container-home {
  height: 100%;
}

/*-------------------------
 *  bootstrap overridden components
 *  ----------------------- */
  .btn-primary {
    background-color: var(--primary-color);
    border: none;
  }

  .btn-primary:hover {
    background-color: var(--secondary-color);
  }

  .btn-primary:focus {
    background-color: var(--primary-color);
    outline: none;
  }

  .card-img-top {
    height: 100%;
    background-size: cover;
  }

  .card--custom {
    padding: 0;
    margin-right: 1.5rem;
  }

  .card__img {
    height: 100px;
  }

/*-------------------------
 *  bootstrap overridden components
 *  ----------------------- */

/*-------------------------
background
-------------------------*/

.bg {
  width: 100%;
}

.background__overlay {
  background-color: var(--overlay-color);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -99998;
}

.background__image {
  height: auto;
  position: absolute;
  width: 100%;
  z-index: -99999;
}

/*-------------------------
background
-------------------------*/

/*-----------------------
home page search & headers
-----------------------*/

.srch {
  height: 100%;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.search__custom {
  background-color: var(--neutral-color);
  border-radius: 50px;
  margin-bottom: var(--margin-sm);
  padding: var(--padding-sm);
}

.search__text {
  width: 40rem;
}

.search__text:focus {
  outline: none;
}

.search__btn {
  width: 5rem;
  background: none;
  text-align: right;
}

.search__text,
.search__btn {
  padding: var(--padding-sm);
  font-size: var(--font-size);
  border: none;
}

.headers__text {
  color: var(--neutral-color);
  text-align: center;
}

.headers__title {
  font-size: 6.7rem;
  font-family: "Cedarville Cursive", cursive;
}

.headers__sub {
  font-size: 1.6rem;
}

.explore {
  color: var(--neutral-color);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing-sm);
  text-decoration: none;
}

.explore:hover {
  color: var(--neutral-color-darker);
}

/*-----------------------
home page search & headers
-----------------------*/

/*----------------------
 * browsing page
 * -------------------*/
.store__icon {
  color: var(--tertiary-color);
  font-size: 3rem;
  margin-left: 2.7rem;
}

.media-body {
  width: 18.3rem;
}

.browsing__container,
.product__container,
.products {
  margin-top: 7rem
}

.products__row {
  padding-left: .75rem;
}
/*----------------------
 * browsing page
 * -------------------*/


/**--------------------
 * product page
 * -------------------*/
  .sproduct__img img {
    width: 100%;
  }

/**--------------------
 * product page
 * -------------------*/
