
/*-------------------------
 *  bootstrap overridden components
 *  ----------------------- */

.cart-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__body--column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img-top {
  background-size: cover;
  height: 100%;
  object-fit: cover;
}

.card__btn {
  padding: 0;
}

.card-read {
  margin-right: 3.6rem;
}

.card-add {
  font-size: var(--font-size);
}


.card--custom {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 0;
}

.card__img {
  height: 100px;
}

.danger {
  font-weight: var(--font-weight-lg);
  font-size: var(--font-size-md);
}

/*-------------------------
 *  bootstrap overridden components
 *  ----------------------- */

/*-------------------------
background
-------------------------*/

.bg {
  width: 100%;
}

.background__overlay {
  background-color: var(--overlay-color);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -99998;
}

.background__image {
  height: auto;
  position: absolute;
  width: 100%;
  z-index: -99999;
}

/*-------------------------
background
-------------------------*/

/*-----------------------
home page search & headers
-----------------------*/

.srch {
  height: 100%;
}

.search {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.search__custom {
  background-color: var(--neutral-color);
  border-radius: 50px;
  margin-bottom: var(--margin-sm);
  padding: var(--padding-sm);
}

.search__text {
  width: 40rem;
}

.search__text:focus {
  outline: none;
}

.search__btn {
  background: none;
  text-align: right;
  width: 5rem;
}

.search__text,
.search__btn {
  border: none;
  font-size: var(--font-size);
  padding: var(--padding-sm);
}

.headers__text {
  color: var(--neutral-color);
  text-align: center;
}

.headers__title {
  font-family: "Cedarville Cursive", cursive;
  font-size: 6.7rem;
}

.headers__sub {
  font-size: 1.6rem;
}

.explore {
  color: var(--neutral-color);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing-sm);
  text-decoration: none;
}

.explore:hover {
  color: var(--neutral-color-darker);
}

/*-----------------------
home page search & headers
-----------------------*/

/*----------------------
 * browsing page
 * -------------------*/
.store__icon {
  color: var(--tertiary-color);
  font-size: 3rem;
  margin-left: 2.7rem;
}

.media-body {
  width: 18.3rem;
}

.browsing__container,
.product__container,
.products {
  margin-top: 7rem;
}

.products__row {
  padding-left: 0.75rem;
}
/*----------------------
 * browsing page
 * -------------------*/

/**--------------------
 * product page
 * -------------------*/

.left {
  margin-bottom: var(--md-size);
}

.right {
  padding: var(--padding-sm);
}
.sproduct {
  background-color: var(--neutral-color);
  border-radius: 5px;
  padding: var(--md-size);
}

.sproduct__details {
  letter-spacing: var(--letter-spacing);
}

.sproduct__title {
  border-bottom: var(--border-color);
  margin-bottom: var(--normal-size);
  padding-bottom: var(--normal-size);
}

.sproduct__tally,
.sproduct__title {
  color: var(--title-color);
  font-weight: var(--font-weight-lg);
}

.sproduct__description {
  border-top: var(--border-color);
  color: var(--description-color);
  font-size: var(--font-size-md);
  margin-top: var(--normal-size);
  padding-top: var(--md-size);
}
.sproduct__img img {
  width: 100%;
}

.sproduct__cart {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}

.sproduct__quantity {
  border: none;
  color: var(--description-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  height: 5rem;
  margin: 0 1rem;
  text-align: center;
  width: 5rem;
}

.sproduct__quantity:focus {
  outline: none;
}

.sproduct__category {
  margin-top: var(--md-size);
}

.cart__btn {
  border-radius: 50px;
  letter-spacing: 0.16rem;
  padding: var(--padding-sm);
  text-transform: uppercase;
}

.fa-cart-plus {
  margin-right: 0.5rem;
}

.cart__increase,
.cart__decrease {
  background: red;
  background-color: var(--background-color);
  border-radius: 50px;
  color: var(--title-color);
  cursor: pointer;
  display: grid;
  height: 5rem;
  place-items: center;
  width: 5rem;
}

.cart__increase:hover,
.cart__decrease:hover {
  background-color: var(--description-color);
  transition: 0.2s ease-in-out;
}

.category__text {
  font-size: var(--font-size-sm);
}

.category__title {
  background-color: black;
  border-radius: 50px;
  color: var(--neutral-color);
  padding: var(--padding-sm);
}

#sproduct__sname {
  font-size: var(--font-size-sm);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
/**--------------------
 * product page
 * -------------------*/

/* --------------------
 * store page
 * --------------------*/
.store__cover {
  height: 50vh;
}

.store__none {
  background: var(--tertiary-color);
  border-radius: .5rem;
  font-weight: var(--font-weight-lg);
  padding: var(--padding-sm);

}

.store__relative {
  display: grid;
  height: 200px;
  margin-bottom: var(--normal-size);
  place-items: center;
  position: relative;
  width: 100%;
}

.store__profile {
  top: -10rem;
  position: absolute;
}

.store__profile div {
  border: 0.3rem solid white;
  border-radius: 50%;
  height: 200px;
  margin-bottom: var(--normal-size);
  overflow: hidden;
  width: 200px;
}

.store__cover-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* --------------------
 * store page
 * --------------------*/
